gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Flutter/Dart
.dart_tool/
.build/
.packages
.pub/
build/
ios/Pods/
android/.gradle/
android/app/*.keystore

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# Environment files
.env
